<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link rel="stylesheet" href="../css/home.css" />
  </head>
  <body>
    <!-- <div class="card large"> -->
    <div id="card-content" class="card-content center-align">
      <h1>Add Recipe</h1>
    </div>

    <div class="card-content center-align">
      <span class="card-title activator grey-text text-darken-4"> </span>
      <div id="instDiv">
        <div class="input-field col s6">
          <input value="Soup" id="first_name2" type="text" class="validate" />
          <label class="active">Recipe Name</label>
        </div>
        <div class="input-field col s6">
          <input value="Egg" id="ingredient" type="text" class="validate" />
          <label class="active">ingredients</label>
        </div>
        <a id="ingredient" class="waves-effect waves-light btn-large blue">Add Ingredient</a>
      </div>
      <br />
    </div>
    <div class="card-content center-align">
      <a id="instruction" class="waves-effect waves-light btn-large blue">Add Instruction</a>
    </div>
    <br />
    <div class="card-content center-align">
      <a id="Save" class="waves-effect waves-light btn-large blue">Save Recipe</a>
      <p><a href="#">Menu</a></p>
    </div>
    <!-- </div> -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="../js/add.js"></script>
  </body>
</html>
