<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link rel="stylesheet" href="../css/home.css" />
  </head>
  <body>
    <div class="card">
      <div class="card-content center-align">
        <h1>Recipe Book</h1>
        <p>This is an online recipe book where you can store recipes and create new ones.</p>
      </div>

      <div class="card-content center-align">
        <span class="card-title activator grey-text text-darken-4"> </span>
        <a id="view" class="waves-effect waves-light btn-large blue">View Recipes</a>
        <a id="add" class="waves-effect waves-light btn-large blue">Add a Recipe</a>
      </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="/js/menu.js"></script>
  </body>
</html>
