<!-- <div class="card large"> -->
<link rel="stylesheet" href="../css/home.css" />
{{!-- add error message if view is empty --}}
<div id="card-content" class="card-content center-align">
  <h1>Add Recipe</h1>
</div>

<div class="card-content center-align">
  <span class="card-title activator grey-text text-darken-4"> </span>
  <div id="instDiv">
    <div class="input-field col s6">
      <input value="Soup" id="recipe-name" type="text" class="validate" />
      <label class="active">Recipe Name</label>
      <a id="addName" class="waves-effect waves-light btn-large blue">Add Recipe name</a>
    </div>
    <div class="row">
      <div class="input-field col s3">
        <input value="3" id="amount" type="text" class="validate" />
        <label class="active">Quantity</label>
      </div>
      <div class="input-field col s3">
        <input value="oz" id="measure" type="text" class="validate" />
        <label class="active">Measurement</label>
      </div>
      <div class="input-field col s6">
        <input value="Egg" id="ingredient" type="text" class="validate" />
        <label class="active">Ingredients</label>
      </div>
      <a id="addIngredient" class="waves-effect waves-light btn-large blue">Add Ingredient</a>

    </div>
    <div class=" center-align">
      <div class="input-field col s6 center-align">
        <input value="Instruction" id="instruction" type="text" class="validate" />
        <label class="active">Instruction</label>
        <a id="addInstruction" class="waves-effect waves-light btn-large blue">Add Instruction</a>
      </div>
    </div>
  </div>

  <div class="row ">
    <h3 id="recipeName"></h3>
    <div class="col s6 center-align">
      <ul id="listIng">
        <h4 class="card-content center-align">Ingredients</h4>
      </ul>
    </div>
    <div class="col s6 center-align">
      <ul id="listInst">
        <h4 class="card-content center-align">Instructions</h4>
      </ul>
    </div>
  </div>
</div>

<div class="card-content center-align">
  <a id="save" class="waves-effect waves-light btn-large blue">Save Recipe</a>
  <p><a href="/">Menu</a></p>
</div>
<!-- </div> -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="/js/add.js"></script>