<!-- <div class="card large"> -->
<link rel="stylesheet" href="../css/add.css" />
{{!-- add error message if view is empty --}}

<!-- nav bar -->
<nav>
  <div class="nav-wrapper yellow darken-2">

    <div id="logo" class="logo brand-logo"><i class="material-icons">book</i>RecipeBook</div>

    <ul class="right hide-on-med-and-down">
      <li><a href="/view">Recipes</a></li>
      <li><a class=" white-text" href="/">Menu</a></li>
      <li><a class="" href="/login">Exit</a></li>
    </ul>
    <ul class="right hide-on-med-and-down"></ul>
  </div>
</nav>
<!-- nav bar -->


<div class="container">
  <div class="card-content center-align">
    <h2 class="add-recipe">Add Recipe</h2>
    <span class="card-title activator grey-text text-darken-4"> </span>
    <div id="instDiv">

      <div class="input-field col s6"> <!-- input fields -->
        <div class="row"> <!--recipe name input-field-->

          <div class="input-field col s9">
            <input value="" id="recipe-name" type="text" class="validate" />
            <label class="active">Recipe Name</label>
          </div>

          <div class="col s3"> <!--button-->
          <a id="addName" class="waves-effect waves-light btn-large yellow darken-2">Add Recipe name</a>
          </div> <!--button-->

        </div> <!--row-->
      </div> <!--recipe name input-field-->

      <div class="input-field col s6"> <!-- ingredient input-field col -->
        <div class="row"> <!-- ingredient input-field row -->

            <div class="input-field col s2">
              <input value="" id="amount" type="text" class="validate" />
              <label class="active">Quantity</label>
            </div>

            <div class="input-field col s2">
              <input value="" id="measure" type="text" class="validate" />
              <label class="active">Measurement</label>
            </div>

            <div class="input-field col s5">
              <input value="" id="ingredient" type="text" class="validate" />
              <label class="active">Ingredient</label>
            </div>

            <div class="col s3"> <!--button-->
            <a id="addIngredient" class="waves-effect waves-light btn-large yellow darken-2">Add Ingredient</a>
            </div> <!--button-->
        </div> <!-- ingredient input-field row -->
      </div> <!-- ingredient input-field col -->

      <div class="input-field col s6"> <!-- instruction input field col -->
        <div class="row"> <!-- instruction input field row -->

          <div class="input-field col s9">
            <input value="" id="instruction" type="text" class="validate" />
            <label class="active">Instruction</label>
          </div>

          <div class="col s3">
            <a id="addInstruction" class="waves-effect waves-light btn-large yellow darken-2">Add Instruction</a>
          </div>

        </div> <!-- instruction input field row -->
      </div> <!-- instruction input field col -->



    </div> <!-- instDiv -->

  <div id="recipeCard" class="hide"> <!--recipe-card-->
    <div class="row ">
      <h3 id="recipeName"></h3>
      <div class="col s6 center-align">
        <ul id="listIng">
          <h4 class="card-content center-align">Ingredients</h4>
        </ul>
      </div>
      <div class="col s6 center-align">
        <ul id="listInst">
          <h4 class="card-content center-align">Instructions</h4>
        </ul>
      </div>
    </div>
  </div> <!--recipe-card-->



    <div class="row">
      <p>
        <label>
          <input id="makePublic" type="checkbox" />
          <span>Visible to Everyone</span>
        </label>
      </p>
    </div>
  </div>

  <div class="card-content center-align">
    <a id="save" class="waves-effect waves-light btn-large yellow darken-2">Save Recipe</a>
  </div> <!-- container -->

  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="/js/add.js"></script>