<link rel="stylesheet" href="/css/home.css" />

<div class="card" style="margin-top: 20px">
  <div class="card-content">
    <h1>Oops!</h1>
    <p>{{message}}</p>
  </div>
  
  <div class="card-content center-align">
    <a id="goBack" class="waves-effect waves-light btn-large yellow darken-2">Go Back</a>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="/js/error.js"></script>