<link rel="stylesheet" href="../css/home.css" />

<div class="card">
  <div class="card-content center-align">
  <h1 id="logo"><i class="medium material-icons">book</i>RecipeBook</h1>
    <p>An online recipe book to view sand save your favorite recipes.</p>
  </div>


  <div class="card-content center-align">
      <h4 class="center-align">Login</h4>
    <div id="instDiv">
      <div class="input-field col s6">
        <input value="" id="username" type="text" class="validate" />
        <label class="active">Username</label>
      </div>
      <div class="input-field col s6">
        <input value="" id="password" type="password" class="validate" />
        <label class="active">Password</label>
      </div>
      <div class="red-text text-darken-3" id="errorMsg" style="display:none"></div>
      <span class="card-title activator grey-text text-darken-4"> </span>
      <a id="loginBtn" class="login-add-btn waves-effect waves-light btn-large yellow darken-2">Login</a>
      <p class="signup"><a href="/signUp">Create New User</a></p>
    </div>
  </div>

  <script src="/js/login.js" async defer></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>