<link rel="stylesheet" href="../css/home.css" />

<div class="card">
  <div class="card-content center-align">
    <h1><i class="medium material-icons">book</i>RecipeBook</h1>
    <p>An online recipe book to save and view your favorite recipes.</p>
  </div>

  <div class="card-content center-align">
    <span class="card-title activator grey-text text-darken-4"> </span>
    <a id="view" class="waves-effect waves-light btn-large yellow darken-2">View Recipes</a>
    <a id="add" class="waves-effect waves-light btn-large yellow darken-2">Add a Recipe</a>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="/js/menu.js"></script>