<nav>
  <div class="nav-wrapper grey lighten-3">
    <form>
      <div class="input-field">
        <input id="search" type="search" required />
        <label class="label-icon black-text" for="search" value="Search for a Recipe"><i
            class="material-icons"></i></label>
        <i class="material-icons">close</i>
      </div>
    </form>
    <ul class="right hide-on-med-and-down"></ul>
  </div>
</nav>
<div class="row">
  <div class="col s3 blue white-text">
    <div class="collection">
      <a href="#!" class="collection-item blue-text">Soup</a>
      <a href="#!" class="collection-item blue-text">Steak</a>
      <a href="#!" class="collection-item blue-text">Fish</a>
      <a href="#!" class="collection-item blue-text">Water</a>
    </div>
  </div>
  <div class="col s9 blue white-text">11111</div>
</div>

<script src="" async defer></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>