<nav>
  <div class="nav-wrapper orange darken-1">

      <a href="#!" class="brand-logo"><i class="material-icons">book</i>iCook</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="sass.html">Add Recipe</a></li>
        <li><a href="sass.html"><i class="material-icons">search</i></a></li>
        <li><a href="mobile.html"><i class="material-icons">more_vert</i></a></li>
      </ul>
    <form>
      <div class="input-field">
        <input id="search" type="search" required />
        <label class="label-icon black-text" for="search" value="Search for a Recipe"><i
            class="material-icons"></i></label>
        <i class="material-icons">close</i>
      </div>
    </form>
    <ul class="right hide-on-med-and-down"></ul>
  </div>
</nav>
<div class="container">
<div class="row">
  <div class="col s3 blue white-text">
    <p><a class=" white-text" href="/">Menu</a></p>
    <div class="collection">
      {{#each recipes}}
      <a href="#!" class="collection-item blue-text">{{this.title}}</a>
      {{/each}}
    </div>

  </div>

    <div class="col s9 blue white-text">
      {{!-- <h1>{{recipe.name}}</h1> --}}
      <h2>Chiken Tikka Masala</h1>
      <h4>Ingredients</h3>
      <ul>
        {{#each ingredient}}
        <li>
          {{this.ingridientName}}
        </li>
        {{/each}}
      </ul>

      <h4>Instructions</h3>
      <ul>
        {{#each instructions}}
        <li>
          {{this.instructionName}}
        </li>
        {{/each}}
      </ul>
    </div>
  </div><!--containter-->
  
</div>

<script src="/js/recipes.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>