<nav>
  <div class="nav-wrapper grey lighten-3">
    <form>
      <div class="input-field">
        <input id="search" type="search" required />
        <label class="label-icon black-text" for="search" value="Search for a Recipe"><i
            class="material-icons"></i></label>
        <i class="material-icons">close</i>
      </div>
    </form>
    <ul class="right hide-on-med-and-down"></ul>
  </div>
</nav>
<div class="row">
  <div class="col s3 blue white-text">
    <div class="collection">
      {{#each recipes}}
      <a href="" class="collection-item blue-text">{{this.name}}</a>
      {{/each}}

    </div>
    <p><a class=" white-text" href="/">Menu</a></p>
  </div>
  <div class="col s9 blue white-text">
    <h1>{{recipe.name}}</h1>
    <h3>Ingredients</h3>
    <ul>
      {{#each recipe.ingredients}}
      <li>
        {{this}}
      </li>
      {{/each}}
    </ul>
    <h3>Instructions</h3>
    <ul>
      {{#each recipe.instructions}}
      <li>
        {{this}}
      </li>
      {{/each}}
    </ul>
  </div>

</div>

<script src="/js/recipes.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>