.container {
    padding-bottom: 5rem;
}

.add-recipe {
    margin: 3rem;
}

.hide {
    display: none;
}

.show {
    display: block; 
}

#recipeCard{
    border: 1px solid black;
    box-shadow: 5px 5px 5px #888888;
    margin-top: 2rem;
    margin-bottom: 4rem;
    padding: 4rem;
}